.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBanner {
  display: flex;
  justify-content: right;
}

.imgBanner-backdrop {
  width: 100%;
  position: absolute;
  filter: brightness(35%);
  filter: blur(100%);
  z-index: -1;
}

.imgBanner-poster {
  width: auto;
  max-height: 546px;
  margin-right: 25rem;
}

img.movie-poster {
  max-width: 250px;
}

.info-banner {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  max-width: 500px;
  color: white;
  filter: blur(90%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem 5rem;
  font-size: 1.2rem;
}

.info-banner p {
  text-align: justify;
}

.logo {
  display: flex;
  position: absolute;
  top: 1rem;
}

.movie-info {
  height: 375px;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1rem;
  border-right: solid .1rem gray;
  border-left: solid .1rem gray;
}

.movie-info .home-movie-p {
  text-align: left;
  padding: 1.8rem 1.5rem;
}

.movie-info h3 {
  padding: 0 .5rem;
}

.imgBanner-pop:hover .movie-info {
  opacity: 1;
}

.imgBanner-pop {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 375px;
}

.readMore {
  background-color: #770013;
  color: white;
  border: none;
  padding: .5rem;
  border-radius: .5rem;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-button-next:after {
  border-radius: 5rem;
  padding: .8rem 1.5rem;
  content: 'next';
  color: white;
  width: 2rem;
  scale: .7;
  display: flex;
  position: relative;
  z-index: 3;
  /* border: white solid .1rem; */
  /* background-color:#770013; */
}

.wrapperAll {
  border-top: solid .1rem gray;
  border-bottom: solid .1rem gray;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.info-banner .score {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  position: relative;
}

.score-small {
  display: flex;
  align-items: center;
}

.score-small svg {
  padding-right: .5rem;
}

.score svg {
  padding-right: 1rem;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #FFD43B !important;
}

.imgBanner-pop img {
  border-right: solid .1rem gray;
  border-left: solid .1rem gray;
  /* border-bottom: solid .1rem gray ; */
}

.main-title {
  color: white;
  background-color: #770013;
  font-size: 1.1rem;
  padding: .8rem 7rem;
  width: 22rem;
  border-radius: 2rem;
  margin-left: -3rem;
  margin-top: 0;
}

.title-info:hover {
  font-weight: bold;
}

.description-info {
  width: 234px;
  background-color: rgba(111, 111, 111, 0.5);
  height: 5rem;
  color: white;
  text-align: left;
  font-size: 1rem;
  padding: 0 .5rem;
  border-right: solid .1rem gray;
  border-left: solid .1rem gray;
}

.description-title {
  display: flex;
  justify-content: space-between;
  padding-top: .1rem;
}

.description-title p {
  margin: .5rem .5rem;

}

.description-date {
  font-size: .8rem;
  padding: 0 .5rem;
  margin: 0;
}

.favorite-button {
  background-color: transparent;
  fill: rgba(49, 49, 49, 0.5);
  stroke: rgb(184, 182, 182);
  border: none;
  margin-top: .5rem;
}

.favorite-button:hover,
.favorite-button:focus,
.favorite-button:visited,
.favorite-button:active {
  fill: #770013;
}

.rotate-45 {
  transform: rotate(45deg);
  fill: #770013;
}

@media (max-width: 610px) {

  .swiper-slide-container {
    height: 11.5rem;
  }

  .mySwiper {
    height: 240px;
  }

  img.movie-poster {
    max-height: 50%;
  }

  .movie-info {
    display: none;
  }

  .description-info {
    width: 109px;
  }

  .description-title p {
    margin: .5rem 0.3rem 0 .3rem;
    font-size: .8rem;
  }

  .description-date {
    display: none;
  }

  svg#rotatingSvg {
    width: 15px;
  }

  .favorite-button {
    margin-top: .3rem;
  }
}

.secound-nav li {
  margin: 0 .5rem;
  padding: .7rem;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.secound-nav li:hover {
  font-weight: 600;
}

.secound-nav {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  background-color: #8f8c8d66;
}

.align-middle svg {
  margin-top: 1rem;
}

@media (min-width: 768px) {

  .main-nav-first {
    display: flex;
    flex-direction: row;
  }

  .main-nav-first a {
    padding-left: .8rem;
  }

  .main-nav-first a:hover {
    font-weight: bold;
  }

  .navbar-menu {
    width: 15rem;
    margin-right: 1rem;
  }
}